/* Below consists of styling predefined by bookdown, be careful touching these */

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Below consists of css elements added for the purpose of this template*/

#sponsors { /*styling the sponsors header at the bottom of the sidebar, comes from the toc in _output.yml*/
  text-align: center;
}

.center {
  text-align: center;
}
.redbox {
  padding: 1em;
  background: #F39A9D;
  color: white;
  border: 2px solid #EF6569;
  border-radius: 10px;
}
.bluebox {
  padding: 1em;
  background: #ACD2ED;
  color: white;
  border: 2px solid #80C2F1;
  border-radius: 10px;
}
.greenbox {
  padding: 1em;
  background: #8DB580;
  color: white;
  border: 2px solid #65B64A;
  border-radius: 10px;
}

/* Insert any of your specific css additions below*/
